<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form id="signup-page" >
        <input type="text" name="username" placeholder="username" id="username-signup">
        <input type="text" name="password" placeholder="email" id="password-signup">
   
        <input type="submit"  value="submit">
    </form>
</body>

<script src="../js/signup.js"></script>
</html>